<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>WireGuard Manager</title>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <h1>WireGuard Manager</h1>
    <nav>
        <a href="/peers_list">Peers List</a> |
        <a href="/add_peer">Add Peer</a> |
        <a href="/modify_allowed_ips">Modify Allowed IPs</a>
    </nav>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script type="text/babel" data-type="module" src="/static/js/main.js"></script>
</body>
</html>