<!-- templates/edit_allowed_ips.html -->
{% extends "base.html" %}
{% block content %}
<h2>Edit Allowed IPs for {{ peer.username }} ({{ peer.server_interface }})</h2>
<form action="/update_allowed_ips" method="post">
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <input type="hidden" name="username" value="{{ peer.username }}">
    <input type="hidden" name="server_interface" value="{{ peer.server_interface }}">
    <label for="allowed_ips">Allowed IPs:</label>
    <input type="text" id="allowed_ips" name="allowed_ips" value="{{ peer.allowed_ips }}" required><br><br>
    <input type="submit" value="Update Allowed IPs">
</form>
{% endblock %}