<!-- templates/modify_allowed_ips.html -->
{% extends "base.html" %}
{% block content %}
<h2>Modify Allowed IPs</h2>
<form action="/modify_allowed_ips" method="post">
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{ username or '' }}" required><br><br>
    <label for="server_interface">Server Interface:</label>
    <input type="text" id="server_interface" name="server_interface" value="{{ server_interface or '' }}" required><br><br>
    <input type="submit" value="Modify Allowed IPs">
</form>
{% endblock %}