<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <script src="/static/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Firewallo UI</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% for item in navigation %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>